.logoAndText{
  display: flex;
}
.logoText{
  margin-left: 40px;
margin-top: 2%;
color:#91e5f5 ;
}

.HeaderBackground{
  background-color: #282C34;
  padding: 25px;
}
.UsernameLogout{
  position: absolute;
  top: 4%;
  right: 5%;
}